*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: #91919125;
}
.content{
    width: 100vw;
    padding: 1rem;
    background-color: white;
    height: 100vh;
}
@media screen and (min-width: 992px){
    .content{
        max-width: 992px;
        height: auto;
        margin: 1rem auto;   
    }
}